 <header class="jumbotron">
    <div class="titlefont">
      <div class="font-a">
      <h1> 今日は何食べる？</h1> </p>
      <% if current_user %> 
      <div class="text-white-75">こんにちは、 <%= current_user.nickname %>   さん
      <%end%>
        <p class="text-white-75  font-weight-light mb-5">毎日のレシピをシェアしよう</p>
         <%= link_to '投稿する', new_tweet_path, class:"sendcoler" %>
    </div>
 </header>  



<div class="titlefont">

<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="form-styl">
  <div class="field">
    <%= f.label :ニックネーム（必須） %><br />
    <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例）山田" %>
  </div>
  </div>

<div class="form-styl">
  <div class="field">
    <%= f.label :email（必須） %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

<div class="form-styl">
  <div class="field">
    <%= f.label :password（必須） %>
    <% if @minimum_password_length %>
    <br>
    <em><%= @minimum_password_length %> 文字まで</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
</div>

  <div class="field">
    <%= f.label :password確認用（必須） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<div class="form-styl">
  <div class="actions">
    <%= f.submit "新規登録",class:"sendcoler" %>
  </div>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>