<div class="main">

<%= form_with model: @tweet, local: true do |f|%>

  <div class="field">
  <h3><i class="fas fa-camera"></i>
    <%= f.label :image, "写真"%></h3><br />
    <%= f.file_field :image,class: :image_form %>
  </div>


  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :concept, "レシピ" %><br />
    <%= f.text_area :concept, class: :form__text %>
  </div>


  <div class="actions">
    <%= f.submit "保存する", class: :buttona  %>
    
    
  </div>
<% end %>