<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">

    <title>GohanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
   <div class="yoko-styl">
         <%= image_tag "chawan.png", class:"google-btn" %>
         <div class="font-a"> <h5><%=link_to '今日は何食べる？',root_path, class:"dezin" %> </h5></div>

        <div class="h5">
          <div class="devic"> 
          <% if current_user %> 
             <p class="font-a">
              <%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class:"dezin" %> </div></p>
          <% else %> 
             <p class="font-a">
              <%=link_to 'ログイン',user_session_path, class:"dezin" %> </p>
            <p class="font-a">
              <%=link_to '新規登録', new_user_registration_path, class:"dezin" %>  </p>
          <%end%>
       </div>
      </div> 
     </div>
     
  </head>

  <body>

    <%= yield %>
    <center>
   <footer class="bg-light py-5">
    <div class="small text-center text-muted">
     Copyright &copy;2021
    </div>
  </footer>
  </body>
</html>
