<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">

    <title>GohanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
   <div class="yoko-styl">
         <%= image_tag "chawan.png", class:"google-btn" %>
         <div class="font-a"> <h5><%=link_to '今日は何食べる？',root_path, class:"dezin" %> </h5></div>

    <div class="example">
        <div class="h3">
          <div class="devic"> 
          <% if current_user %> 
             <p class="font-a">
              <%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class:"dezin" %> </div></p>
          <% else %> 
             <p class="font-a">
              <%=link_to 'ログイン',"#", class:"dezin" %> </p>
            <p class="font-a">
              <%=link_to '新規登録', new_user_registration_path, class:"dezin" %>  </p>
          <%end%>
        </div>
       </div>
      </div> 
     </div>
     
 <header class="jumbotron">
 　　<div class="titlefont">
      <p class="font-a">
 　　　<h1 class="text-warning  root-Meiryo"> 今日は何食べる？</h1> 
      </p>
      <% if current_user %> 
      <div class="text-white-75">こんにちは、 <%= current_user.nickname %>   さん
      <%end%>
        <p class="text-white-75  font-weight-light mb-5">毎日のレシピをシェアしよう</p>
      
      <%= link_to '投稿する', "#", class:"sendcoler" %>
    </div>

 </header>  
  </head>

  <body>

    <%= yield %>
   <footer class="bg-light py-5">
    <div class="small text-center text-muted">
  　　　Copyright &copy;2021
    </div>
  </footer>
  </body>
</html>
